<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {#- <!-- https://github.com/11ty/eleventy-base-blog/issues/15 --> #}
  <title>{{ renderData.title or title or pkg.name }} • {{ pkg.name }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="{{ renderData.title or title or pkg.name }} • {{ pkg.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{page.url | url}}" />
  <meta property="og:image" content="/assets/img/storm-manchester-1024w.jpeg"  />
  <meta property="og:description" content="{{ excerpt }}" />
  <meta name="twitter:title" content="{{ renderData.title or title or pkg.name }} • {{ pkg.name }}" />
  <meta name="twitter:site" content="pborenstein" />
  <meta name="twitter:description" content="{{ excerpt }}" />
  <meta name="twitter:image" content="/assets/img/storm-manchester-1024w.jpeg"  />

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/szk3asc.css">
  <link rel="stylesheet" href="https://use.typekit.net/tpw2slk.css">
  <link rel="stylesheet" href="https://use.typekit.net/ztn6rcs.css">
  <script src="/assets/js/darkmode.js" defer></script>
</head>
<body class="one-col-grid">
<div class="stack">
  <header>
    {%- block header -%}
      {% include "header.njk" ignore missing %}
    {%- endblock -%}
  </header>
  <nav id="sitenav">
    {%- block nav -%}
      {% include "nav.njk" ignore missing %}
    {%- endblock -%}
  </nav>
  <main>
    {% block kontent %}
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    {% block footer -%}
      {%- include "footer.njk" ignore missing -%}
    {%- endblock -%}
  </footer>
</div>
</body>
</html>
