<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {#- <!-- https://github.com/11ty/eleventy-base-blog/issues/15 --> #}
  <title>{{ renderData.title or title or pkg.name }} • {{ pkg.name }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="/assets/icons/favicon-32.png" sizes="32x32">
  <link rel="icon" href="/assets/icons/favicon-57.png" sizes="57x57">
  <link rel="icon" href="/assets/icons/favicon-76.png" sizes="76x76">
  <link rel="icon" href="/assets/icons/favicon-96.png" sizes="96x96">
  <link rel="icon" href="/assets/icons/favicon-128.png" sizes="128x128">
  <link rel="icon" href="/assets/icons/favicon-192.png" sizes="192x192">
  <link rel="icon" href="/assets/icons/favicon-228.png" sizes="228x228">


  <meta property="og:title" content="{{ renderData.title or title or pkg.name }} • {{ pkg.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{page.url | url}}" />
  <meta property="og:image" content="https://live.staticflickr.com/1647/25619384566_c903fba327_o.jpg"  />
  <meta property="og:description" content="{{ excerpt|truncate(132)|trim }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ renderData.title or title or pkg.name }} • {{ pkg.name }}" />
  <meta name="twitter:site" content="pborenstein" />
  <meta name="twitter:description" content="{{ excerpt|truncate(132)|trim }}" />
  <meta name="twitter:image" content="https://live.staticflickr.com/1647/25619384566_c903fba327_o.jpg"  />




  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="stylesheet" href="https://use.typekit.net/ztn6rcs.css">
  <link rel="stylesheet" href="https://use.typekit.net/pgn7ley.css">

  <link rel="stylesheet" href="/assets/css/prism/prism-vsc-dark-plus.css">
  <link rel="stylesheet" href="/assets/css/prism/prism-line-numbers.css">

  <script src="/assets/js/darkmode.js" defer></script>
</head>
<body class="one-col-grid">
<div class="stack">
  <header>
    {%- block header -%}
      {% include "header.njk" ignore missing %}
    {%- endblock -%}
  </header>
  <nav id="sitenav">
    {%- block nav -%}
      {% include "nav.njk" ignore missing %}
    {%- endblock -%}
</nav>
  <main>
    {% block kontent %}
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    {% block footer -%}
      {%- include "footer.njk" ignore missing -%}
    {%- endblock -%}
  </footer>
</div>
</body>
</html>
