  <div>&copy; 2023 <a rel='me' href='https://mastodon.social/@pborenstein'>Philip Borenstein</a><br>Made in New Hampshire</div>
  <div class="button-bar">
    <button class="btn btn-dark">D</button>
    <button class="btn btn-light">L</button>
    <button class="btn btn-system">S</button>
  </div>
  <div>
    {% if date and github -%}
      post:  <a href={{github}}>{{date.toDateString()}}</a><br>
    {%- else %}
      <a href="https://github.com/pborenstein/{{git.repo}}/blob/main{{ page.inputPath.slice(1) }}">
      {%- if git.curbranch != 'HEAD' -%}
        {{- git.curbranch-}}@
      {%- endif -%}
      {{- git.commitsha -}}</a><br>
    {%- endif %}
    {% if draftDate and draft -%}
      draft: <a href={{draft}}>{{draftDate.toDateString()}}</a>
    {%- else -%}
      that’s how the light gets in
    {%- endif %}
  </div>
