<style>
#logo {
  font-family: var(--font-logo);
  font-size: 2em;
  line-height: 1.3;
  font-weight: 700;
  hyphens: auto;
  font-feature-settings:"onum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "xs06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "xs14";   /*  ss14:   tail l */
}

#logo a[href] {
  text-decoration: none;
  color: var(--color-heading);
}

#logo a[href]:hover .logo-beg {
  color: var(--color-foreground)
}

#logo a[href]:hover .logo-med {
  color: var(--color-heading);
  filter: brightness(1.1);
}

#logo a[href]:hover .logo-end {
  color: var(--color-heading);
}

#logo a[href]:hover {
  text-decoration: none;
  color: var(--color-link);
}

#logo a[href]:hover .slug{
  text-decoration: none;
  color: var(--color-heading);
}

.logo-med {
  color: var(--color-dot)
}

.logo-end {
  color: var(--color-foreground)
}
</style>
<div id="logo"><a href="/">
  {% set sitename = pkg.name.split('.') %}
    <span class="logo-beg">{{sitename[0]}}</span><!--
 --><span class="logo-med">.</span><!--
 --><span class="logo-end">{{sitename[1]}}</span>
</a></div>
