
{% set description %}
    {% if newlines -%}
        {{excerpt|truncate(132)|nl2br|safe}}
    {%- else %}
        {{ excerpt|truncate(132)|safe }}
    {%- endif %}
{% endset %}


  <meta property="og:title" content="{{ renderData.title or title or pkg.name }} • {{ pkg.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{page.url | url}}" />
  <meta property="og:image" content="https://live.staticflickr.com/1647/25619384566_c903fba327_o.jpg"  />
  <meta property="og:description" content="{{ description | trim | safe }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ renderData.title or title or pkg.name }} • {{ pkg.name }}" />
  <meta name="twitter:site" content="pborenstein" />
  <meta name="twitter:description" content="{{ description | trim | safe }}" />
  <meta name="twitter:image" content="https://live.staticflickr.com/1647/25619384566_c903fba327_o.jpg"  />
