---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - _draft
    - _nav
    - posts
    - tagList
layout: layouts/page.njk
permalink: /tags/{{ tag }}/
renderData:
  title: tagged {{tag}}
---
<!-- https://github.com/11ty/eleventy-base-blog/issues/15 -->
{% from "macros/posts-list.njk" import postsList %}

<h1>posts tagged {{tag}}</h1>

{{ postsList(collections[tag] | reverse ) }}
