---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - _nav
    - tagList
    - posts
layout: layouts/page.njk
permalink: /tags/{{ tag }}/
---
{% from "macros/posts-list.njk" import postsList %}

<h1>posts tagged {{tag}}</h1>

{{ postsList(collections[tag] | reverse ) }}


<p>See <a href="/tags/">all tags</a>.<br>
See <a href="/posts/">all posts</a>.</p>
