

### Grays
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-gray-07</td>
    <td  class='color-val'>#111111</td>
    <td  class='color-val'> 07% body text </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-07)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-20</td>
    <td  class='color-val'>#333333</td>
    <td  class='color-val'> 20% headings, nav text </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-20)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-30</td>
    <td  class='color-val'>#4d4d4d</td>
    <td  class='color-val'> 30% prism background </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-30)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-40</td>
    <td  class='color-val'>#666666</td>
    <td  class='color-val'> 40% dateline date </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-40)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-75</td>
    <td  class='color-val'>#c0c0c0</td>
    <td  class='color-val'> 75% footer </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-75)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-88</td>
    <td  class='color-val'>#e0e0e0</td>
    <td  class='color-val'> 88% table headbody sep, border of fold </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-88)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-95</td>
    <td  class='color-val'>#f2f2f2</td>
    <td  class='color-val'> 95% even row, bg of fold exp fold </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-gray-95)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>


### Reds
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-red</td>
    <td  class='color-val'>#c22323</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-red)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-red-faded</td>
    <td  class='color-val'>#fde2e2</td>
    <td  class='color-val'> folded text bg, table-caption highlight </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-red-faded)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-darkred</td>
    <td  class='color-val'>#7F0036</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-darkred)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-darkred-faded</td>
    <td  class='color-val'>#7f00364d</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-darkred-faded)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>


### Foreground/Background
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-white</td>
    <td  class='color-val'>#fff</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-white)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-foreground</td>
    <td  class='color-val'>--color-gray-07</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-foreground)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-background</td>
    <td  class='color-val'>--color-white</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-background)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-bg-contrast</td>
    <td  class='color-val'>--color-gray-95</td>
    <td  class='color-val'> table even row </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-bg-contrast)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-body</td>
    <td  class='color-val'>--color-foreground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-body)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-nav-text</td>
    <td  class='color-val'>--color-gray-20</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-nav-text)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-nav-hover</td>
    <td  class='color-val'>--color-darkred</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-nav-hover)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-heading</td>
    <td  class='color-val'>--color-gray-20</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-heading)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-figure-caption</td>
    <td  class='color-val'>--color-gray-40</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-figure-caption)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-link</td>
    <td  class='color-val'>--color-darkred</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-link)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footer</td>
    <td  class='color-val'>--color-gray-75</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-footer)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-code</td>
    <td  class='color-val'>--color-gray-30</td>
    <td  class='color-val'> naked code </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-code)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-code-bg</td>
    <td  class='color-val'>--base0x</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-code-bg)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-marker</td>
    <td  class='color-val'>--color-darkred</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-fold-marker)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-expanded</td>
    <td  class='color-val'>--color-gray-95</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-fold-expanded)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-head</td>
    <td  class='color-val'>--color-red-faded</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-fold-head)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-border</td>
    <td  class='color-val'>--color-gray-88</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-fold-border)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>


### Tables
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-table-odd</td>
    <td  class='color-val'>--color-bg-contrast</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-table-odd)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-even</td>
    <td  class='color-val'>--color-background</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-table-even)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-body</td>
    <td  class='color-val'>--color-body</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-table-body)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-heading</td>
    <td  class='color-val'>--color-heading</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-table-heading)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-caption</td>
    <td  class='color-val'>--color-darkred</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-table-caption)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-sep</td>
    <td  class='color-val'>--color-gray-88</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=2 style='color: var(--color-table-sep)'>   aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</table>
