<h3> Grays</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darker<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darkest<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-gray-00</td>
    <td colspan=2  class='color-val'>black</td>
  </tr>
  <tr>
    <td style='color: black;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: black;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: black;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-10</td>
    <td colspan=2  class='color-val'>hsl(0,0%,10%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,10%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,10%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,10%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-20</td>
    <td colspan=2  class='color-val'>hsl(0,0%,20%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,20%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,20%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,20%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-30</td>
    <td colspan=2  class='color-val'>hsl(0,0%,30%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,30%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,30%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,30%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-40</td>
    <td colspan=2  class='color-val'>hsl(0,0%,40%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,40%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,40%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,40%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-50</td>
    <td colspan=2  class='color-val'>hsl(0,0%,50%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,50%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,50%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,50%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-60</td>
    <td colspan=2  class='color-val'>hsl(0,0%,60%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,60%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,60%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,60%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-70</td>
    <td colspan=2  class='color-val'>hsl(0,0%,70%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,70%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,70%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,70%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-80</td>
    <td colspan=2  class='color-val'>hsl(0,0%,80%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,80%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,80%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,80%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-90</td>
    <td colspan=2  class='color-val'>hsl(0,0%,90%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,90%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,90%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,90%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-95</td>
    <td colspan=2  class='color-val'>hsl(0,0%,95%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,95%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,95%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,95%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-100</td>
    <td colspan=2  class='color-val'>white</td>
  </tr>
  <tr>
    <td style='color: white;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: white;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: white;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Foreground / Background</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darker<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darkest<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-foreground</td>
    <td colspan=2  class='color-val'>var(--dk-color-foreground</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-foreground;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-foreground-lighter</td>
    <td colspan=2  class='color-val'>var(--dk-color-foreground-lighter</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-foreground-lighter;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground-lighter;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground-lighter;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-foreground-lightest</td>
    <td colspan=2  class='color-val'>--dk-color-foreground-lightest,var(--lt-color-foreground-lightest)</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-foreground-lightest,var(--lt-color-foreground-lightest));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground-lightest,var(--lt-color-foreground-lightest));background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground-lightest,var(--lt-color-foreground-lightest));background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-background-darkest</td>
    <td colspan=2  class='color-val'>var(--dk-color-background-darkest</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-background-darkest;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background-darkest;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background-darkest;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-background-darker</td>
    <td colspan=2  class='color-val'>var(--dk-color-background-darker</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-background-darker;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background-darker;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background-darker;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-background</td>
    <td colspan=2  class='color-val'>var(--dk-color-background</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-background;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background;background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background;background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Accents</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darker<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darkest<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-accent-lightest</td>
    <td colspan=2  class='color-val'>hsl(0,87%,94%)</td>
  </tr>
  <tr>
    <td style='color: hsl(0,87%,94%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,87%,94%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,87%,94%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-lighter</td>
    <td colspan=2  class='color-val'>hsl(344,52%,92%)</td>
  </tr>
  <tr>
    <td style='color: hsl(344,52%,92%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(344,52%,92%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(344,52%,92%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent</td>
    <td colspan=2  class='color-val'>hsl(340,37%,59%)</td>
  </tr>
  <tr>
    <td style='color: hsl(340,37%,59%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(340,37%,59%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(340,37%,59%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-darker</td>
    <td colspan=2  class='color-val'>hsl(336,48%,42%)</td>
  </tr>
  <tr>
    <td style='color: hsl(336,48%,42%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(336,48%,42%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(336,48%,42%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-darkest</td>
    <td colspan=2  class='color-val'>hsl(334,100%,25%)</td>
  </tr>
  <tr>
    <td style='color: hsl(334,100%,25%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(334,100%,25%);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(334,100%,25%);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Elements</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darker<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darkest<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-body</td>
    <td colspan=2  class='color-val'>--color-foreground</td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-body-light</td>
    <td colspan=2  class='color-val'>--color-foreground-lighter</td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground-lighter);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground-lighter);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground-lighter);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-heading</td>
    <td colspan=2  class='color-val'>--color-foreground</td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-figure-caption</td>
    <td colspan=2  class='color-val'>--color-accent</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-link</td>
    <td colspan=2  class='color-val'>--color-accent-darkest</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-darkest);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-code</td>
    <td colspan=2  class='color-val'>--color-foreground</td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-logo</td>
    <td colspan=2  class='color-val'>--color-accent-darkest</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-darkest);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-logo-link</td>
    <td colspan=2  class='color-val'>--color-accent-darkest</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-darkest);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-nav-text</td>
    <td colspan=2  class='color-val'>--color-foreground-lighter</td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground-lighter);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground-lighter);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground-lighter);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-nav-hover</td>
    <td colspan=2  class='color-val'>--color-accent</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-marker</td>
    <td colspan=2  class='color-val'>--dk-color-fold-marker,var(--color-accent-darkest)</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-fold-marker,var(--color-accent-darkest));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-fold-marker,var(--color-accent-darkest));background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-fold-marker,var(--color-accent-darkest));background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-head</td>
    <td colspan=2  class='color-val'>--dk-color-fold-head,var(--color-accent-lighter)</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-fold-head,var(--color-accent-lighter));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-fold-head,var(--color-accent-lighter));background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-fold-head,var(--color-accent-lighter));background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-expanded</td>
    <td colspan=2  class='color-val'>--dk-color-fold-expanded,var(--color-accent-lighter)</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-fold-expanded,var(--color-accent-lighter));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-fold-expanded,var(--color-accent-lighter));background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-fold-expanded,var(--color-accent-lighter));background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footer</td>
    <td colspan=2  class='color-val'>--color-background-darker</td>
  </tr>
  <tr>
    <td style='color: var(--color-background-darker);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background-darker);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background-darker);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footer-sep</td>
    <td colspan=2  class='color-val'>--color-accent-lightest</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-lightest);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-lightest);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-lightest);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Tables</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darker<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darkest<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-table-odd</td>
    <td colspan=2  class='color-val'>--color-background-darker</td>
  </tr>
  <tr>
    <td style='color: var(--color-background-darker);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background-darker);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background-darker);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-even</td>
    <td colspan=2  class='color-val'>--color-background</td>
  </tr>
  <tr>
    <td style='color: var(--color-background);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-body</td>
    <td colspan=2  class='color-val'>--color-body</td>
  </tr>
  <tr>
    <td style='color: var(--color-body);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-body);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-body);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-heading</td>
    <td colspan=2  class='color-val'>--color-heading</td>
  </tr>
  <tr>
    <td style='color: var(--color-heading);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-heading);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-heading);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-caption</td>
    <td colspan=2  class='color-val'>--color-accent-darker</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-darker);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darker);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darker);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-sep</td>
    <td colspan=2  class='color-val'>--color-background-darkest</td>
  </tr>
  <tr>
    <td style='color: var(--color-background-darkest);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background-darkest);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background-darkest);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-logo</td>
    <td colspan=2  class='color-val'>--color-accent-darkest</td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-darkest);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darker)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-darkest);background:var(--color-background-darkest)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Fonts</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darker<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-background-darkest<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
</table>
