{% from "macros/tags-list.njk" import tagsList %}
{%- macro postsList(posts) -%}
  <ul class="posts-list">
    {%-for post in posts -%}
      <li class="posts-lists-entry">
        <div class="posts-entry">
          <div class="posts-entry-title">
            <a href={{post.url}}>{{post.data.title}}</a>
          </div>
          <div class="posts-entry-summary">
            {{post.data.summary  | markdown | safe }}
          </div>
          <div class="posts-entry-footer">
            <span class="posts-entry-date">
              <a style="color:var(--color-darkred)" href={{post.url}}>#</a> 
              {{post.date | prettyDate('DmY')}} •
            </span>
            <span class="posts-entry-tag">
              {{ tagsList(post.data.tags)}}
            </span>
          </div>
        </div>
      </li>
    {%- endfor -%}
  </ul>
{% endmacro %}
