/* ----- code.css ------ */


pre {
  max-width: 100%;
  overflow: scroll;
  padding: 0 1em;
  display: block;
  overflow-wrap: normal;
}

code { /* why is this here ? */
  word-break: normal;
}

/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--font-code);
  font-size: var(--font-code-size);
  color: var(--color-code);
}

/* for naked <code> */
pre:not([class]) code:not([class]) {
  background-color: inherit;
  color: var(--color-darkred)
}

a[href] > code {
  text-decoration: underline;
}





/* Code blocks */
pre[class*="language-"] {
  border-radius: 0.25em;
  border-style: none;
  margin: 0;
  overflow: auto;
  padding: 1em;
}



/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal
}


pre > code.highlight {
  outline: .4em solid var(--base08);
  outline-offset: .4em;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */


 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection,
 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
   text-shadow: none;
   background: #b3d4fc;
 }

 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }



 ins,
 .highlight-line-add {
   background-color: rgb(197, 234, 197);
   text-decoration: none;
 }

 .highlight-line-remove {
   background-color: rgb(253, 204, 204);
   text-decoration: none;
 }

/*-------*/

.highlight-line {
  display: inline-block;
  margin-bottom: 0;

  /* del, ins, mark default styles */
  text-decoration: none;
  color: inherit;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

.highlight-line:not(:last-child) {
  min-width: 100%;
}
.highlight-line .highlight-line:not(:last-child) {
  min-width: 0;
}

/***
 *    LINE NUMBERS
 *    https://raw.githubusercontent.com/PrismJS/prism/master/plugins/line-numbers/prism-line-numbers.css
 ***/

 pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: -4px; /* hack to get numbers to line up with text */
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
  margin-bottom: 0;
}

.highlight-line-active {
  background-color: rgb(240, 205, 152);
}

.highlight-line-add {
  background-color: rgb(197, 234, 197);
}

