/* ----- layout.css ------ */

.one-col-grid {
  display: grid;
  grid-template-columns: minmax(.5rem, 1.2fr) minmax(12rem, 32rem) minmax(.5rem, 1.2fr);
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
  hyphens: auto;
}

/*  page header */

header {
  display: grid;
  grid-area: head;
  margin-bottom: 0;
}


/*  Main content */

main {
  grid-area: main;
  padding-top: 0;
}

/*  Navigation */
nav {
  grid-area: nav;
}


/*  footer  */

footer {
  grid-area: foot;
  font-size: var(--font-size-minus-2);
  color: var(--color-footer);
  font-family: var(--font-footer);
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--color-darkred-faded);
  padding-top: 0.5em;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.footer-text {
  vertical-align: top;
  margin: 0;
  line-height: 1.4;
}

.footer-item {
	display: inline-block;
}

footer a[href] {
  color: inherit;
}


/*  --------------- BLOCKS ----------------  */


/*  dateline */

.dateline {
  font-size: .7rem;
  font-family: var(--font-heading);
  font-weight: 400;
  border-top: 1px solid var(--color-darkred-faded);
  border-bottom: 1px solid var(--color-darkred-faded);
  padding: .25rem .5rem;
  margin-bottom: 1.5rem;
}

.dateline-date {
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--color-gray-40);
  font-style: italic;
}




/*  -----  links  ---------- */
a[href] {
  text-decoration: none;
  color: var(--color-link)
}

.articleList a[href] {
  color: var(--color-body);
}

a[href]:hover {
  text-decoration: underline;
  color: var(--color-link)
}

/*  --------  folding ------- */

summary {
  font-family: var(--font-body);
  font-weight: 500;
  background-color: var(--color-fold-head);
  padding: .25em;
  border-radius: 0.1875em;
  border-color: var(--color-fold-head);
  border-width: thin;
  border-style: solid;
  margin-bottom: 0;
}

details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details[open] aside {
  background-color: var(--color-background);
  border: 1px solid var(--color-fold-expanded);
  padding-left: .5em;
  padding-right: 0.5em;
  border-bottom-left-radius: 0.1875em;
  border-bottom-right-radius: 0.1875em;
}

details:focus,
summary:focus {
  outline: 0;
}

details > summary::-webkit-details-marker {
  color: var(--color-fold-marker);
}


/*  --------  blockquote ------- */

blockquote {
  margin-left: 1em;
  margin-right: 1em;
}

blockquote p cite::before {
  content: '\2014\2009'; /* emdash-thinspace */
  white-space: pre;
}

/**
 * blockquote p:last-of-type cite,
 *
 * use this selector to ignore all but the final
 * cite in a blockquote.
 **/

blockquote p cite
{
  font-style: italic;
  font-size: var(--font-size-minus-1);
  text-align: right;
  display: inline-block;
  width: 100%;
}
