/* ----- root.css ------ */

/* https://codepen.io/RockStarwind/pen/vYKBadV?editors=1100 */

:root {
	--true: ;
	--false: initial;
}


@media (prefers-color-scheme: dark) {
  :root {
    --is-dark: var(--true);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --is-dark: var(--false);
  }
}



/*
### Grays
*/

:root {
  --color-gray-00:  black;
  --color-gray-10:  hsl(0, 0%, 10%);
  --color-gray-20:  hsl(0, 0%, 20%);
  --color-gray-30:  hsl(0, 0%, 30%);
  --color-gray-40:  hsl(0, 0%, 40%);
  --color-gray-50:  hsl(0, 0%, 50%);
  --color-gray-60:  hsl(0, 0%, 60%);
  --color-gray-70:  hsl(0, 0%, 70%);
  --color-gray-80:  hsl(0, 0%, 80%);
  --color-gray-90:  hsl(0, 0%, 90%);
  --color-gray-95:  hsl(0, 0%, 95%);
  --color-gray-100: white;
}

:root {

  /***
   *    light-mode: foreground (lighter->) background
   *    dark-mode:  foreground (darker ->) background
   ***/

  --lt-color-foreground:          var(--color-gray-10);
  --lt-color-foreground-lighter:  var(--color-gray-30);
  --lt-color-foreground-lightest: var(--color-gray-40);
  --lt-color-background-darkest:  var(--color-gray-70);
  --lt-color-background-darker:   var(--color-gray-80);
  --lt-color-background:          var(--color-gray-95);

  --dk-color-foreground:          var(--is-dark) var(--color-gray-90);
  --dk-color-foreground-lighter:  var(--is-dark) var(--color-gray-80);
  --dk-color-foreground-lightest: var(--is-dark) var(--color-gray-70);
  --dk-color-background-darkest:  var(--is-dark) var(--color-gray-30);
  --dk-color-background-darker:   var(--is-dark) var(--color-gray-20);
  --dk-color-background:          var(--is-dark) var(--color-gray-10);

/*
### Foreground / Background
*/

  --color-foreground:             var(--dk-color-foreground         , var(--lt-color-foreground         ));
  --color-foreground-lighter:     var(--dk-color-foreground-lighter , var(--lt-color-foreground-lighter ));
  --color-foreground-lightest:    var(--dk-color-foreground-lightest, var(--lt-color-foreground-lightest));
  --color-background-darkest:     var(--dk-color-background-darkest , var(--lt-color-background-darkest ));
  --color-background-darker:      var(--dk-color-background-darker  , var(--lt-color-background-darker  ));
  --color-background:             var(--dk-color-background         , var(--lt-color-background         ));

/*
### Accents
*/

  --color-accent-lightest:        hsl(  0,  87%, 94%) /* #fde2e2 */;
  --color-accent-lighter:         hsl(344,  52%, 92%) /* #f5e0e6 */;
  --color-accent:                 hsl(340,  37%, 59%) /* #be718b */;
  --color-accent-darker:          hsl(336,  48%, 42%) /* #9e3861 */;
  --color-accent-darkest:         hsl(334, 100%, 25%) /* #7f0036 */;
}


/*
### Elements
*/

:root {
  --color-body:                   var(--color-foreground);
  --color-body-light:             var(--color-foreground-lighter);
  --color-heading:                var(--color-foreground);
  --color-figure-caption:         var(--color-accent);
  --color-link:                   var(--color-accent-darkest);
  --color-code:                   var(--color-foreground);

  --color-logo:                   var(--color-accent-darkest);
  --color-logo-link:              var(--color-accent-darkest);


  --color-nav-text:               var(--color-foreground-lighter);
  --color-nav-hover:              var(--color-accent);




  /****
   *    we want to use different colors for
   *    dark and light modes
   ****/

  --dk-color-fold-marker:         var(--is-dark) var(--color-accent-lighter);
  --dk-color-fold-head:           var(--is-dark) var(--color-accent-darker);
  --dk-color-fold-expanded:       var(--is-dark) var(--color-accent);

  --color-fold-marker:            var(--dk-color-fold-marker,   var(--color-accent-darkest));
  --color-fold-head:              var(--dk-color-fold-head,     var(--color-accent-lighter));
  --color-fold-expanded:          var(--dk-color-fold-expanded, var(--color-accent-lighter));


  --color-footer:                 var(--color-background-darker);
  --color-footer-sep:             var(--color-accent-lightest);
}

/*
### Tables
*/

:root {
  --color-table-odd:              var(--color-background-darker);
  --color-table-even:             var(--color-background);
  --color-table-body:             var(--color-body);
  --color-table-heading:          var(--color-heading);
  --color-table-caption:          var(--color-accent-darker);
  --color-table-sep:              var(--color-background-darkest);
}

:root {
  --color-logo:   var(--color-accent-darkest);
}

/*
### Fonts
*/

:root {
  --font-table-caption:     var(--font-heading);
  --font-table-heading:     var(--font-heading);
  --font-table-body:        var(--font-body);


  --font-serif:             Georgia, serif;
  --font-sans-serif:        "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  --font-mono:              Consolas, Menlo, Monaco, "Courier New", Courier, monospace;

  --font-body:              var(--font-serif);
  --font-caption:           var(--font-sans-serif);
  --font-footer:            var(--font-sans-serif);
  --font-heading:           var(--font-sans-serif);
  --font-list:              var(--font-sans-serif);
  --font-code:              var(--font-mono);
  --font-code-size:         var(--font-size-base);

  --font-features:          "xnum";   /*  onum:   Old style numbers */

  /*
  ### Font size scale:

    https://www.modularscale.com/?1&em&1.25
  */

    --font-size-plus-3:   1.953em ;
    --font-size-plus-2:   1.563em;
    --font-size-plus-1:   1.25em;
    --font-size-plus-0:   1em;
    --font-size-base:     1em;
    --font-size-minus-0:  1em;
    --font-size-minus-1:  0.8em;
    --font-size-minus-2:  0.64em;
    --font-size-minus-3:  0.512em;
    --font-size-minus-4:  0.41em;

    --line-height-body:   1.5;
    --line-height-code:   1.5;
}





html {
  box-sizing: border-box;
  font-size:  100%;
  overflow:   scroll;
}


body {
  font-family:      var(--font-body);
  font-weight:      400;
  line-height:      1.5;
  color:            var(--color-body);
  background-color: var(--color-background);
  scroll-behavior:  smooth;
}

hr {
  border-top:       1px;
  border-color:     var(--color-accent);
}




/* links to markdown header with disappearing link symbol */
.direct-link {
	font-family:      var(--font-heading);
	text-decoration:  none;
	font-style:       normal;
	margin-left:      .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--color-link);
  text-decoration: none;
}


/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family:  var(--font-code);
  font-size:    var(--font-code-size);
  color:        var(--color-code);
}

/***
 * for debugging typetura

.foo {
  counter-increment: ttbind var(--tt-bind) ttmax var(--tt-max);
}

.foo::before {
  content:  counter(ttbind) "/" counter(ttmax);
}

 *
 ***/
