/* ----- root.css ------ */

:root {
/*
### Grays
*/

  --color-gray-07:  hsl(0,0%,07%);  /* 07%  #121212 body text                            */
  --color-gray-10:  hsl(0,0%,10%);
  --color-gray-13:  hsl(0,0%,13%);  /* 13%                     */
  --color-gray-15:  hsl(0,0%,15%);
  --color-gray-20:  hsl(0,0%,20%);  /* 20%  headings, nav text                   */
  --color-gray-25:  hsl(0,0%,25%);
  --color-gray-30:  hsl(0,0%,30%);  /* 30%  prism background                     */
  --color-gray-35:  hsl(0,0%,35%);
  --color-gray-40:  hsl(0,0%,40%);  /* 40% dateline date                         */
  --color-gray-50:  hsl(0,0%,50%);
  --color-gray-60:  hsl(0,0%,60%);
  --color-gray-75:  hsl(0,0%,75%);  /* 75%  footer                               */
  --color-gray-88:  hsl(0,0%,88%);  /* 75%  footer                               */
  --color-gray-95:  hsl(0,0%,95%);  /* 95%  even row, bg of fold exp fold        */

  --color-white:    #fff;

/*
### Reds
*/

  --color-red:            #c22323;
  --color-red-faded:      #fde2e2;      /* folded text bg, table-caption highlight */
  --color-darkred:        #7f0036;
  --color-darkred-faded:  #7f00364d;
  --color-terracotta:     #4d1f1f;
  --color-brightred:      #a00707;

}

/****
 *  darkmode implementation from
 *  https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
 ****/


body {
  --color-foreground:     var(--color-gray-07);
  --color-background:     var(--color-white);
  --color-bg-contrast:    var(--color-gray-95);     /* table even row */

  --color-nav-text:       var(--color-gray-20);
  --color-nav-hover:      var(--color-darkred);

  --color-body:           var(--color-foreground);
  --color-heading:        var(--color-gray-20);
  --color-figure-caption: var(--color-gray-40);
  --color-link:           var(--color-darkred);
  --color-footer:         var(--color-gray-75);
  --color-code:           var(--color-gray-30);   /* naked code */

  --color-fold-marker:    var(--color-darkred);
  --color-fold-expanded:  var(--color-gray-95);
  --color-fold-head:      var(--color-red-faded);
  --color-fold-border:    var(--color-gray-88);
}

body.dark-theme {
  --color-foreground:     var(--color-gray-60);
  --color-background:     var(--color-gray-10);
  --color-bg-contrast:    var(--color-gray-20);     /* table even row */

  --color-nav-text:       var(--color-gray-50);
  --color-nav-hover:      var(--color-darkred);

  --color-body:           var(--color-foreground);
  --color-heading:        var(--color-brightred);
  --color-figure-caption: var(--color-gray-40);
  --color-link:           var(--color-brightred);
  --color-footer:         var(--color-gray-25);
  --color-code:           var(--color-gray-60);   /* naked code */

  --color-fold-marker:    var(--color-red-faded);
  --color-fold-expanded:  var(--color-terracotta);
  --color-fold-head:      var(--color-terracotta);
  --color-fold-border:    var(--color-terracotta);
}




@media (prefers-color-scheme: dark) {

  body {
    --color-foreground:     var(--color-gray-60);
    --color-background:     var(--color-gray-10);
    --color-bg-contrast:    var(--color-gray-20);     /* table even row */

    --color-nav-text:       var(--color-gray-50);
    --color-nav-hover:      var(--color-darkred);

    --color-body:           var(--color-foreground);
    --color-heading:        var(--color-brightred);
    --color-figure-caption: var(--color-gray-40);
    --color-link:           var(--color-brightred);
    --color-footer:         var(--color-gray-25);
    --color-code:           var(--color-gray-60);   /* naked code */

    --color-fold-marker:    var(--color-red-faded);
    --color-fold-expanded:  var(--color-terracotta);
    --color-fold-head:      var(--color-terracotta);
    --color-fold-border:    var(--color-terracotta);
  }

  body.light-theme {
    --color-foreground:     var(--color-gray-07);
    --color-background:     var(--color-white);
    --color-bg-contrast:    var(--color-gray-95);     /* table even row */

    --color-nav-text:       var(--color-gray-20);
    --color-nav-hover:      var(--color-darkred);

    --color-body:           var(--color-foreground);
    --color-heading:        var(--color-gray-20);
    --color-figure-caption: var(--color-gray-40);
    --color-link:           var(--color-darkred);
    --color-footer:         var(--color-gray-75);
    --color-code:           var(--color-gray-30);   /* naked code */

    --color-fold-marker:    var(--color-darkred);
    --color-fold-expanded:  var(--color-gray-95);
    --color-fold-head:      var(--color-red-faded);
    --color-fold-border:    var(--color-gray-88);
  }

}




/*
### Tables
*/

:root {
  --color-table-odd:        var(--color-bg-contrast);
  --color-table-even:       var(--color-background);
  --color-table-body:       var(--color-body);
  --color-table-heading:    var(--color-heading);
  --color-table-caption:    var(--color-darkred);
  --color-table-sep:        var(--color-gray-88);

  --font-table-caption:     var(--font-heading);
  --font-table-heading:     var(--font-heading);
  --font-table-body:        var(--font-body);


  --font-serif:           Georgia, serif;
  --font-sans-serif:      "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  --font-mono:            Consolas, Menlo, Monaco, "Courier New", Courier, monospace;

  --font-body:          var(--font-serif);
  --font-caption:       var(--font-sans-serif);
  --font-footer:        var(--font-sans-serif);
  --font-heading:       var(--font-sans-serif);
  --font-list:          var(--font-sans-serif);
  --font-code:          var(--font-mono);
  --font-code-size:     var(--font-size-base);

  --font-features:      "xnum";   /*  onum:   Old style numbers */

  /*
  ### Font size scale:

    https://www.modularscale.com/?1&em&1.25
  */

    --font-size-plus-3:   1.953em ;
    --font-size-plus-2:   1.563em;
    --font-size-plus-1:   1.25em;
    --font-size-plus-0:   1em;
    --font-size-base:     1em;
    --font-size-minus-0:  1em;
    --font-size-minus-1:  0.8em;
    --font-size-minus-2:  0.64em;
    --font-size-minus-3:  0.512em;
    --font-size-minus-4:  0.41em;

    --line-height-body:   1.5;
    --line-height-code:   1.5;
}





html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}


body {
  font-family: var(--font-body);
  font-weight:  400;
  line-height: 1.5;
  color: var(--color-body);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}


/* links to markdown header with disappearing # */
.direct-link {
	font-family: var(--font-heading);
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--color-link);
  text-decoration: none;
}


/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--font-code);
  font-size: var(--font-code-size);
  color: var(--color-code);
}

/***
 * for debugging typetura

.foo {
  counter-increment: ttbind var(--tt-bind) ttmax var(--tt-max);
}

.foo::before {
  content:  counter(ttbind) "/" counter(ttmax);
}

 *
 ***/
