/* ----- styles.css ------ */


:root {
	--true: ;
	--false: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --is-dark: var(--true);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --is-dark: var(--false);
  }
}

:root {
  --lt-color-foreground:      hsl(  0,  0%, 07%);
  --lt-color-background:      hsl(  0,  0%, 95%);
  --lt-color-background-alt:  hsl(  0,  0%, 85%);
  --lt-color-heading:         hsl(  0,  0%, 10%, 1.0);
  --lt-color-heading-alt:     hsl(  0,  0%, 40%, 1.0);
  --lt-color-logo:            hsl(  0, 58%, 33%, 1.0);
  --lt-weight-body:           400;

  --dk-color-foreground:      var(--is-dark)  hsl(  0,  0%, 80%);
  --dk-color-background:      var(--is-dark)  hsl(  0,  0%, 15%);
  --dk-color-background-alt:  var(--is-dark)  hsl(  0,  0%, 25%);
  --dk-color-heading:         var(--is-dark)  hsl(  0,  0%, 90%, 1.0);
  --dk-color-heading-alt:     var(--is-dark)  hsl(  0,  0%, 75%, 1.0);
  --dk-color-logo:            var(--is-dark)  hsl(  0, 72%, 46%, 1.0);
  --dk-weight-body:           var(--is-dark)  300;

  --color-foreground:         var(--dk-color-foreground , var(--lt-color-foreground));
  --color-background:         var(--dk-color-background , var(--lt-color-background));
  --color-background-alt:     var(--dk-color-background-alt , var(--lt-color-background-alt));
  --color-heading:            var(--dk-color-heading    , var(--lt-color-heading));
  --color-heading-alt:        var(--dk-color-heading-alt, var(--lt-color-heading-alt));
  --color-logo:               var(--dk-color-logo,        var(--lt-color-logo));
  --weight-body:              var(--dk-weight-body,       var(--lt-weight-body));

  --color-body:               var(--color-foreground);
  --color-link:               var(--color-heading-alt);
  --color-link-hover:         var(--color-heading);

  --font-serif:               Spectral, Georgia, serif;
  --font-sans-serif:          neue-kabel, 'Poiret One',Vibes, 'Abril Fatface','Onyx','Helvetica Neue', Helvetica, sans-serif;
  --font-mono:                monospace;
  --font-logo:                'Helvetica Neue', Spectral, john-doe, sans-serif;
  --font-body:                var(--font-serif);
  --font-heading:             var(--font-sans-serif);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}

body {
  font-family: var(--font-body);
  font-weight:  var(--weight-body);
  font-size: 19px;
  line-height: 1.5;
  color: var(--color-body);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 17px;
  }
}

a,
a:visited {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}


/* ----- layout ------ */

.one-col-grid {
  display: grid;
  grid-template-columns: minmax(1rem, 1.3fr) minmax(25ch, 66ch) minmax(1rem, 1.3fr);
  grid-template-rows: auto;
  grid-row-gap: inherit;
  grid-column-gap: inherit;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
  hyphens: auto;
  overflow: hidden;
}

/*  page header */
header {
  display: grid;
  grid-area: head;
}


/*  Main content */
main {
  grid-area: main;
  /* overflow: scroll; */
}

/*  Navigation */
nav {
  grid-area: nav;
}

/*  footer  */
footer {
  grid-area: foot;
  border-top: 1px solid var(--color-heading-alt);
  color: var(--color-heading-alt);
  font-family: var(--font-logo);
  font-weight: 300;
  font-size: .5em;
  margin-bottom: 7vh;
  margin-top: 2em;
}
footer ul {
  list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: .5em 0;
}
footer li,
footer li a {
  line-height: 1.3;
  text-decoration: none;
}
hr {
  border-top: 1px solid var(--color-heading-alt);
}

/*  headings  */

/***
  naked h1: home page heading
 ***/

h1 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  width: max-content;
  margin-bottom: 2rem;
}

h1.logo {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--color-logo);
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-heading-alt);
  margin-bottom: 0.25em;
  font-weight: 400;
}

h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0em;
}


/***
  tepiton: index page
 ***/


.tepiton p:first-of-type {
  margin-top: 0;
}

.tepiton article {
  border-bottom: 1px solid rgba(0,0,0,0.0);
  margin-top: 1em;
  position: relative;
  padding: 1em 2em 0 1em;
  border: 1px solid var(--color-background-alt);
  border-radius: 10px ;
}
.tepiton article.noTitle {
  background-color: var(--color-background-alt);
  border-radius: 10px ;
  padding: 1em 2em 0 1em;
}
.tepiton article.noTitle section {
  font-family: neue-kabel, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings:"xnum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "xs06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "xs14";   /*  ss14:   tail l */
}

.tepiton article section a {
  text-decoration: none;
}



.tepiton header,
.tepiton header a,
.tepiton header a:hover {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 1.125em;
  color: var(--color-logo);
  text-decoration: none;
  /* text-decoration: underline solid;
  text-decoration-color: var(--color-background-alt);
  text-decoration-thickness: .02px;
  text-underline-offset: 2px; */
  margin: 0 0 .325em 0;
  line-height: 1.2;

  font-feature-settings:"onum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "xs06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "xs14";   /*  ss14:   tail l */
}

.tepiton article header a:hover {
  text-decoration-color: var(--color-heading-alt);
  text-decoration: solid underline;
  text-decoration-thickness: .02px;
  text-underline-offset: 2px;

}


.tepiton section {
  font-weight: var(--weight-body);
  font-size:  1em;
  line-height: 1.53;
  font-family: var(--font-body);
  margin: 0;
}


.tepiton footer::before {
  content: '';
  font-family: var(--font-heading);
  font-style: italic;
  color: hsl(0, 0%, 50%);
}
.tepiton footer {
  grid-area: unset;
  width: max-content;
  font-family: var(--font-heading);
  font-size:  .625rem;
  font-style: none;
  margin:  0em 0;
  padding: .25em 0 0 0;
  border: none;
  color: var(--color-link);
}
.tepiton footer a {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
}
.tepiton footer a:hover {
  text-decoration: none;
  color: var(--color-link-hover);
}



.ex {
  font-family: neue-kabel, sans-serif;
  position: absolute;
  width: .75rem;
  height: .75rem;
  top: 1.33rem;
  left: -1rem;
  background-color: var(--color-background-alt);
  border-radius: 3px;
}

.noTitle .ex {
  top: .5rem;
  left: .5rem;
  background-color: red;
  background-color: var(--color-background-alt);
}

.ex:hover {
  background-color: var(--color-heading-alt)
}



/***
 *
 * pages
 *
 ***/


.post blockquote,
.tepiton blockquote {
  margin: 0 2em 0 1em;

}

/***
  individual post pages
 ***/

.newlines p {
  margin-top: 0;
  margin-bottom: 0;
}

.newlines p:first-of-type {
  margin-top: revert;
}

.post h1 {
  font-family: var(--font-heading);
  color: var(--color-logo);
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0em;
  width: 100%;
  font-feature-settings:"xnum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "xs06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "xs14";   /*  ss14:   tail l */
}

.post h1 a {
  text-decoration: none;
  color: var(--color-logo);
}

figure {
  margin: 0 0 1em 0
}

figcaption,
figcaption  a {
  color: #aaa;
  text-decoration: none;
  border-top: none;
  font-family: var(--font-sans-serif);
  font-size:  .8em;
  text-align: right;
}


.post footer,
.post footer a {
  color: #aaa;
  text-decoration: none;
  border-top: none;
  font-family: var(--font-sans-serif);
  font-weight: 200;
  font-size:  1em;
}

.settings,
.settings a {
  font-size: 1.5em;
  text-decoration: none;
}

.settings a:hover {
  color: var(--color-foreground)
}


.button-bar {
  display: flex;
  justify-content: center ;
  margin-top: 0.25em;
  align-items: baseline;
}



.btn {
  font-family: var(--font-logo);
  border: none;
/*
  border: 1px solid red;
 */
  background-color: var(--color-background);
  color: var(--color-heading-alt);
  padding: 0 1em;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 200;
}

/* On mouse-over */
.btn:hover {
  color: var(--color-background);
  background: var(--color-heading-alt);
}


/***
 *  https://www.zachleat.com/web/fluid-images/
 ***/

img {
  margin-top: 0.5em;
  max-width: 100%;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

iframe {
  margin-top: 1em;
  max-width: 100%;
}

