/* ----- tables.css ------ */

table {
  width:  100%;
  border-collapse: collapse;
  font-family: var(--font-table-body);
  color: var(--color-table-body);
  margin: 1.5em 0;
}


thead {
  font-family: var(--font-table-heading);
  border-bottom: 1px solid var(--color-table-sep);
}

tbody {
  hyphens: manual;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-table-odd);
}

tbody tr:nth-child(even) {
  background-color: var(--color-table-even);
}

td {
  vertical-align: text-top;
  padding: 5px;
}

th {
  vertical-align: bottom;
  padding-bottom: 0;
  color: var(--color-table-heading);
}


table caption {
  caption-side: bottom;
  text-align: left;
  font-family: var(--font-table-caption);
  font-weight: 800;
  color: var(--color-table-caption);
  margin-bottom: 0;
  padding-left: 5px;
  border-top: 1px solid var(--color-table-sep);
}

