/* base16-prism (https://github.com/atelierbram/base16-prism)
 * by Bram de Haan (http://atelierbramdehaan.nl)
 * Tomorrow scheme by Chris Kempson (http://chriskempson.com)
*/

/*
https://transform.isthe.link/?dropEmpty=null&replace=%2F.base%2F--base%2F&replace=%2F%7B+color%2F%2F&replace=%2F%7B+background-color%2F%2F&replace=%2F%3B+%7D%2F%2F
*/

:root {
  --base00: #ffffff;  /* 0 - Default Background  */
  --base0x: #f2f2f2;  /* x - between 0 and 1 */
  --base01: #e0e0e0;  /* 1 - Lighter Background (Used for status bars)  */
  --base02: #d6d6d6;  /* 2 - Selection Background  */
  --base03: #8e908c;  /* 3 - Comments, Invisibles, Line Highlighting  */
  --base04: #969896;  /* 4 - Dark Foreground (Used for status bars)  */
  --base05: #4d4d4c;  /* 5 - Default Foreground, Caret, Delimiters, Operators  */
  --base06: #282a2e;  /* 6 - Light Foreground (Not often used)  */
  --base07: #1d1f21;  /* 7 - Light Background (Not often used)  */
  --base08: #c82829;  /* 8 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted  */
  --base09: #f5871f;  /* 9 - Integers, Boolean, Constants, XML Attributes, Markup Link Url  */
  /* --base0A: #eab700;  /* A - Classes, Markup Bold, Search Text Background  */
  --base0A: #c39900;  /* A - Classes, Markup Bold, Search Text Background  */
  --base0B: #718c00;  /* B - Strings, Inherited Class, Markup Code, Diff Inserted  */
  --base0C: #3e999f;  /* C - Support, Regular Expressions, Escape Characters, Markup Quotes  */
  --base0D: #4271ae;  /* D - Functions, Methods, Attribute IDs, Headings  */
  --base0E: #8959a8;  /* E - Keywords, Storage, Selector, Markup Italic, Diff Changed  */
  --base0F: #a3685a;  /* F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>  */
}



code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--base00);
  color: #4d4d4c;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #969896;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #969896;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e908c;
}

.token.punctuation {
  color: #4d4d4c;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #f5871f;
}
.token.property {
  color: #c39900;
}
.token.tag {
  color: #4271ae;
}
.token.string {
  color: #3e999f;
}
.token.selector {
  color: #8959a8;
}
.token.attr-name {
  color: #f5871f;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #3e999f;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #718c00;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #3e999f;
}

.token.placeholder,
.token.variable {
  color: #4271ae;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #1d1f21;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c82829;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #c82829;
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: var(--base01);
}

.line-numbers-rows > span:before {
  color: #d6d6d6;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 * alpha transparency in 8 digits hex notation coming to a browser near you soon:
 * https://drafts.csswg.org/css-color/#hex-notation
 */
.line-highlight {
  background: #4d4d4c33;
  background: linear-gradient(to right, #4d4d4c33 70%, #4d4d4c00);
}
