/* ----- footnotes.css ------ */

.footnotes {
  font-size: var(--font-size-m2);
}

.footnote-ref {
  font-size: var(--font-size-m3);
  margin-left: 1px;
}

.footnote-ref a {
  color: var(--color-darkred)
}

.footnotes-sep {
  margin-top: 2em;
  border-top: 1px solid var(--color-darkred);
  padding-top: 1em;
}
