/* ----- logo.css ------ */

#logo {
  width: 100%;
  clear: both;
  padding: 0 0em 0.1em 0em;
  margin-bottom: 0rem;
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
}
