/* ----- root.css ------ */

:root {
  /*  GRAYS   */

/*
### Grays
*/

  --color-gray-07:  #111111;  /* 07%  body text                            */
  --color-gray-20:  #333333;  /* 20%  headings, nav text                   */
  --color-gray-30:  #4d4d4d;  /* 30%  prism background                     */
  --color-gray-40:  #666666;  /* 40% dateline date                         */
  --color-gray-75:  #c0c0c0;  /* 75%  footer                               */
  --color-gray-88:  #e0e0e0;  /* 88%  table head/body sep, border of fold  */
  --color-gray-95:  #f2f2f2;  /* 95%  even row, bg of fold exp fold        */


/*
### Reds
*/

  --color-red:            #c22323;
  --color-red-faded:      #fde2e2;      /* folded text bg, table-caption highlight */
  --color-darkred:        #7F0036;
  --color-darkred-faded:  #7f00364d;

/*
### Foreground/Background
*/
  
  --color-white:          #fff;

  --color-foreground:     var(--color-gray-07);
  --color-background:     var(--color-white);
  --color-bg-contrast:    var(--color-gray-95);     /* table even row */

  --color-body:           var(--color-foreground);
  --color-nav-text:       var(--color-gray-20);
  --color-nav-hover:      var(--color-darkred);
  --color-heading:        var(--color-gray-20);
  --color-link:           var(--color-red);
  --color-footer:         var(--color-gray-75);
  --color-code:           var(--color-darkred);   /* naked code */
  --color-code-bg:        var(--base0x);
  --color-fold-marker:    var(--color-darkred);
  --color-fold-expanded:  var(--color-gray-95);
  --color-fold-head:      var(--color-red-faded);
  --color-fold-border:    var(--color-gray-88);


  --font-serif:           Georgia, serif;
  --font-sans-serif:      "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  --font-mono:            Consolas, Menlo, Monaco, "Courier New", Courier, monospace;

  --font-body:          var(--font-serif);
  --font-caption:       var(--font-sans-serif);
  --font-footer:        var(--font-sans-serif);
  --font-heading:       var(--font-sans-serif);
  --font-list:          var(--font-sans-serif);
  --font-code:          var(--font-mono);
  --font-code-size:     .875em;

  --font-features:      "xnum";   /*  onum:   Old style numbers */

  /*
  ### Font size scale:

    https://www.modularscale.com/?1&em&1.25
  */

    --font-size-p4: 1.953em ;
    --font-size-p3: 1.563em ;
    --font-size-p2: 1.25em ;
    --font-size-p1: 1em ;
    --font-size-m2: 0.8em ;
    --font-size-m3: 0.64em ;
    --font-size-m4: 0.512em ;
    --font-size-m5: 0.41em ;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red !important; */
    margin-top: 0;
    margin-bottom: 1em;
        /*  The idea here is that the tops
            of paragraphs (and other blocklike things)
            have no margins. They butt up against
            the bottom of the thing above them.
            If that happens to be a para, which it
            probably is, then they'll just use the
            bottom margin of the preceding element.
            Is this enough to keep headings close?
            All this because I don't like there to be
            a space between the heading and the next
            chunk of content.
        */ 
}

hr {
  margin: initial;
}

body {
  font-family: var(--font-body);
  font-weight:  400;
  color: var(--color-body);
  background-color: var(--color-background);
  line-height: 1.33;
  scroll-behavior: smooth;
}



/* links to markdown header with disappearing # */
.direct-link {
	font-family: var(--font-heading);
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--color-link);
  text-decoration: none;
}

