:root {
  --color-body:         #111;
  --color-heading:      #333;
  --color-link:         var(--color-red);
  --color-contrast:     var(--base0x);
  --color-background:   #fff;
  --color-body-highlight: var(--color-darkred);

  --color-gray:         #C0C0C0;
  --color-lightgray:    #f2f2f2;
  --color-darkred:      #7F0036; /* 127, 0, 54 */
  --color-fadedred:     #fde2e2;
  --color-red:          #c22323;
  --color-white:        #fff;
  --color-shadow:       3px 3px 4px 0px rgba(0, 0, 0, 0.19);
                        /* offset-x | offset-y | blur-radius | spread-radius | color */

  --font-body:          Georgia, 'IBM Plex Serif', 'neue-kabel',   Georgia, serif;
  --font-caption:       'Cochin', 'Times', serif;
  --font-code-size:     .875em;
  --font-code:          Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --font-footer:        "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-heading:       "Helvetica Neue",'neue-kabel',"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-list:          "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-features:      "xnum"   /*  onum:   Old style numbers */
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* border: 1px solid red !important; */
    margin-top: 0;
    margin-bottom: 1em;
        /*  The idea here is that the tops
            of paragraphs (and other blocklike things)
            have no margins. They butt up against
            the bottom of the thing above them.
            If that happens to be a para, which it
            probably is, then they'll just use the
            bottom margin of the preceding element.
            Is this enough to keep headings close?
            All this because I don't like there to be
            a space between the heading and the next
            chunk of content.
        */ 
}

hr {
  margin: initial;
}

body {
  font-family: var(--font-body);
  font-weight:  400;
  color: var(--color-body);
  background-color: var(--color-background);
  line-height: 1.5;
  scroll-behavior: smooth;
}



/* links to markdown header with disappearing # */
.direct-link {
	font-family: var(--font-heading);
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--color-body-highlight);
  text-decoration: none;
}

#logo {
  width: 100%;
  clear: both;
  padding: 0 0em 0.1em 0em;
  margin-bottom: 0rem;
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}
/* --- headings --- */

h1, h2, h3, h4, h5, h6, dt {
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0rem;
  --tt-key: heads;
}

h1 {
  margin-top: 0;
  margin-bottom: .125em;
}


/* https://www.modularscale.com/?2&em&1.25 */
h1 { font-size: 2em }
h2 { font-size: 1.6em }
h3 { font-size: 1.28em }
h4 { font-size: 1.024em }
nav {
  grid-area: nav;
  margin: 0 0 1rem 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none inside;
  margin: 0 0 0 0rem;
  padding: 0 0 0 .2em;
  max-width: 4rem;
  width: 6em;
  border: 0;
  box-shadow: 0px 0px 0px 0px transparent;
}

.nav-item {
  display: inline;
  margin-right: 1em;
  margin-left: 0;
  font-family: var(--font-heading);
  font-size: 75%;
}

.nav-item-active {
	font-weight: 700;
	text-decoration: underline;
}

.nav-item a[href] {
  text-decoration: none;
  color: var(--base05)
}

.nav-item a[href]:hover {
  text-decoration: inherit;
  color: var(--color-body-highlight)
}
.one-col-grid {
  display: grid;
  grid-template-columns: minmax(2rem, 1.2fr) minmax(12rem, 32rem) minmax(2rem, 1.2fr);
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
  hyphens: auto;
}

/*  page header */

header {
  display: grid;
  grid-area: head;
  margin-bottom: 0;
}


/*  Main content */

main {
  grid-area: main;
  padding-top: 0;
}

/*  Navigation */
nav {
  grid-area: nav;
}


/*  footer  */

footer {
  grid-area: foot;
  font-size: 1rem;
  color: var(--color-gray);
  font-family: var(--font-footer);
  font-size: 0.6rem;
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--color-darkred);
  padding-top: 0.5em;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.footer-text {
  vertical-align: top;
  margin: 0
}

.footer-item {
	display: inline-block;
}

footer a[href] {
  color: inherit;
}


/*  --------------- BLOCKS ----------------  */


/*  dateline */

.dateline {
  font-size: .7rem;
  font-family: var(--font-heading);
  font-weight: 400;
  border-top: 1px solid var(--color-darkred);
  border-bottom: 1px solid var(--color-darkred);
  padding: .25rem 0;
  margin-bottom: 1.5rem;
}

.dateline-date {
  font-weight: 300;
}

/* Text scale
    https://www.modularscale.com/?1&em&1.25

        1.953em
        1.563em
        1.25em
>>>>>>  1em
        0.8em
        0.64em
        0.512em
        0.41em
*/


/*  -----  links  ---------- */
a[href] {
  text-decoration: none;
  color: var(--color-link)
}

a[href]:hover {
  text-decoration: underline;
}

/*  --------  folding ------- */

summary {
  font-family: var(--font-body);
  font-weight: 500;
  background-color: var(--color-fadedred);
  padding: .75em;
  border-radius: 0.5em;
  border-color: var(--base01);
  border-width: thin;
  border-style: solid;
  margin-bottom: 0;
}

details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details[open] aside {
  background-color: var(--base0x);
  padding: 0.75em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

details:focus,
summary:focus {
  outline: 0;
}

details > summary::-webkit-details-marker {
  color: var(--color-body-highlight);

}
pre {
  max-width: 100%;
  overflow: scroll;
  padding: 1em 1.5em;
  display: block;
  overflow-wrap: normal;
}

code {
  word-break: normal;
}

/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--font-code);
  font-size: var(--font-code-size);
  color: var(--color-body-highlight);
}

/* for naked <code> */
pre:not([class]) code:not([class]) {
  background-color: inherit;
}

a[href] > code {
  text-decoration: underline;
}


code[class*="language-"], pre[class*="language-"] {
  background: var(--base01) !important;
}

pre[class*="language-"] {
  border-style: none;
  border-radius: 0.25em;
}

:root {
  --color-table-background: var(--color-background);
  --color-table-contrast:   var(--color-contrast);
  --color-table-body:       var(--color-body);
  --color-table-heading:    var(--color-heading);
  --color-table-caption:    var(--color-heading);
  --font-table-caption:     var(--font-heading);
  --font-table-heading:     var(--font-heading);
  --font-table-body:        var(--font-body);
}

table {
  width:  100%;
  border-collapse: collapse;
  font-family: var(--font-table-body);
  color: var(--color-table-body);
  margin: 1.5em 0;
}


thead {
  font-family: var(--font-table-heading);
  border-bottom: 1px solid var(--base01);
}

tbody {
  hyphens: manual;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-table-background);
}

tbody tr:nth-child(even) {
  background-color: var(--color-table-contrast);
}

td {
  vertical-align: text-top;
  padding: 5px;
}

th {
  vertical-align: bottom;
  padding-bottom: 0;
  color: var(--color-table-heading);
}


table caption {
  caption-side: top;
  text-align: right;
  font-family: var(--font-table-caption);
  font-style: italic;
  font-weight: 200;
  color: var(--color-body-highlight);
  margin-bottom: 0;
}


.table-caption {
  width: max-content;
  padding: 0;
  float: right;
  background-image: linear-gradient(180deg,transparent 75%,var(--color-fadedred) 0) /* from https://www.ideo.com/ */
}
.footnotes {
  font-size: .8rem;
}

.footnote-ref {
  font-size: .64em;
  font-variant-numeric: oldstyle-nums;
}

.footnotes-sep {
  margin-top: 2em;
  border-top: 1px solid var(--color-darkred);
  padding-top: 1em;
}
/**
 *  list items should cuddle
 */

main li {
  margin: 0 0 0 0;
}
