---
date: 2001-03-01
title: Posts
layout: layouts/page.njk
tags:
  - _nav
navtitle: Posts
---
{% from "macros/posts-list.njk" import postsList %}
{% include "partials/common-title.njk" %}

{{ postsList(collections.posts) }}

