---
date: 2001-03-01
title: Posts
layout: layouts/page.njk
tags:
  - _nav
navtitle: Posts
---

{% include "partials/common-title.njk" %}

<div class="articleList">
    <ul>
  {%-for post in collections.posts | reverse -%}
      <li><a href="{{post.url | url}}">{{post.data.title}}</a></li>
  {%-endfor -%}
    </ul>
</div>
