---
date: 2001-03-01
title: All the things
layout: layouts/page.njk
tags:
  - _nav
navtitle: Posts
---

<h1>All the things</h1>

<div class="articleList">
    <ul>
  {%-for post in collections.posts | reverse -%}
      <li><a href="{{post.url | url}}">{{post.data.title}}</a></li>
  {%-endfor -%}
    </ul>
</div>
