---
date: 1918-01-01
layout: layouts/page.njk
title: Home
tags:
  _nav
---
{% from "macros/figure.njk" import figure %}
{{ figure("https://picsum.photos/512/128?gravity=center&random",
          "[Lorem Picsum](https://picsum.photos/)") }}

{% from "macros/posts-list.njk" import postsList %}
{{ postsList(collections.posts | head(4) ) }}

