---
date: 1918-01-01
layout: layouts/page.njk
title: Home
tags:
  _nav
---

<img src="https://picsum.photos/512/128?gravity=center&random"
  width="100%" height="128" >

{% from "macros/posts-list.njk" import postsList %}
{{ postsList(collections.posts | head(4) ) }}

