  <link rel="stylesheet" href="/assets/css/root.css">
  <link rel="stylesheet" href="/assets/css/logo.css">
  <link rel="stylesheet" href="/assets/css/headings.css">
  <link rel="stylesheet" href="/assets/css/nav.css">
  <link rel="stylesheet" href="/assets/css/layout.css">
  <link rel="stylesheet" href="/assets/css/tables.css">
  <link rel="stylesheet" href="/assets/css/footnotes.css">
  <link rel="stylesheet" href="/assets/css/lists.css">
  <link rel="stylesheet" href="/assets/css/toc.css">
  <link rel="stylesheet" href="/assets/css/figures.css">
  <link rel="stylesheet" href="/assets/css/code.css">

<!--  it's stupid but keep this file
      synchronized with /utils/make-styles
      I'm so sorry -->
