<div id="logo"><a href="/">
  {% set sitename = config.siteName.split('.') %}
    <span class="logo-beg">{{sitename[0]}}</span><!--
 --><span class="logo-med">.</span><!--
 --><span class="logo-end">{{sitename[1]}}</span>
</a></div>
