{% from "macros/tags-list.njk" import tagsList %}
<div class="dateline">
  <span class="dateline-date">
    {{ page.date | prettyDate('DMY')}}
  </span>
  <span>&emsp13;•</span>
  <span>
    {{ tagsList(tags) }}
  </span>
</div>
